{% extends "base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'add_person' %}">
            {% csrf_token %}
            <input type="text" name="full_name" placeholder="Введите имя и фамилию">
            <button type="submit" name="add">Добавить</button>
        </form>
        <ul>
            {% if people %}
                {% for person in people %}
                    <li>
                        {{ person.full_name }}
                        <form method="post" action="{% url 'delete_person' person.id %}">
                            {% csrf_token %}
                            <button type="submit" name="delete">Удалить</button>
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li>Пользователей нет</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}